@mixin justifycenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
$navcolor: #000000;
$landcolor: #999999;
$projcolor: #666666;
$rescolor: #EEEEEE;
$aboutcolor: #000000;
@font-face{
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: main;
}
@font-face{
  src: url(../fonts/OpenSans-Regular.ttf);
  font-family: title;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    font-family: main;
    overflow-x: hidden;
}
nav {
  height: 5vh;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  background-color: $navcolor;
  @include justifycenter();
  color: white;
  .nav {
      width: 100%;
    .links {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      position: relative;
      right: 10;
      li {
        a {
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 5px;
          transition: 0.3s;
          color: white;;
          &:visited{
              color: white;;
          }
          &:hover{
              background-color: white;
              color: #999999;
              padding: 15px 40px;
          }
        }
        .clicked {
            background-color: $aboutcolor;
            padding: 15px 40px;
        }
      }
    }
  }
}
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  @include justifycenter();
}

/*---------------------------------------------*/

#landing {
    background-color: $landcolor;;
    color: $aboutcolor;
    height: 60vh;
    font-family: title;
    .content{
      @include justifycenter();
      flex-direction: column;
        width: 50%;
        height: 50%;
        .me {
            margin-bottom: 2rem;
            @include justifycenter();
            justify-content: space-evenly;
            font-size: 48px;
        } 
        .hero-welcome {
          font-size: 36px;
        }
        .icons{
            margin-top: 2rem;
            height: 10%;
            @include justifycenter();
            width: 100%;
            .contact-info{
              width: 50%;
                @include justifycenter();
                justify-content: space-evenly;
            }
        }
    }
  }



  #about {
    background-color: $aboutcolor;
    color: white;
    height: 40vh;
    .content{
      @include justifycenter();
      width: 50%;
      height: 50%;
      .main-text{
        font-size: 24px;
      }
    }
  }



  #projects {
    background-color: $projcolor;
    color: black;
    .content{
      width: 75%;
      height: 85%;
      @include justifycenter();
      flex-direction: column;
      justify-content: space-evenly;
      div {
        width: 100%;
        height: 25%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1%;
        img{
          float: left;
          height: 100%;
          width: 28%;
          border-radius: 10px;
          margin-right: 1.8%;
        }
        h1{
          float: left;
          text-align: left;
          font-size: 28px;
          width: 50%;
        }
        .live, .code{
          width: 9%;
          height: 20px;
          background-color: inherit;
          border: none;
          border-radius: 10px;
          transition: 0.3s;
          a{
            text-decoration: none;
            width: 100%;
            color: $aboutcolor;
            &:visited{
              color: $aboutcolor;
            }
          }
          &:hover{
            background-color: $landcolor;
            color: $aboutcolor;
          }
        }
        h2 {
          font-size: 20px;;
          float: left;
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: left;
          width: 70%;
        }
        p{
          float: left;
          width: 70%;
          font-size: 1rem;
          text-align: left;
        }
        .read{
          visibility: hidden;
          background-color: $landcolor;
          color: $aboutcolor;
          padding: 10px 10px;
          border-radius: 10px;
          border: none;
          a{
            color: $aboutcolor;
            text-decoration: none;
            transition: 0.3s;
            &:visited{
              color: $aboutcolor;
            }
            &:hover{
              padding: 20px 40px
            }
          }
        }
      }
    }
    .load {
      background-color: $landcolor;
      color: $aboutcolor;
      padding: 10px 0px;
      border-radius: 10px;
      border: none;
      transition: 0.3s;
      a{
        text-decoration: none;
        padding: 10px 30px;
        transition: 0.3s;
        color: $aboutcolor;
      &:visited{
        color: $aboutcolor;
      }
      }
    }
  }



  #resources {
    background-color: $rescolor;
    height: 50vh;
    color: black;
    .content {
      width: 50%;
      h1{
        font-size: 22px;
        margin-bottom: 20px;
      }
      .email{
        float: left;
        width: 49.8%;
        text-align: center;
      }
      .cell{
        float: right;
        width: 50%;
        border-left: 1px solid $landcolor;
      }
      .contact-info{
        width: 50%;
        @include justifycenter();
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 60px;
        .tooltiptext{
          visibility: hidden;
        }
      }
    }
  }
  @media screen and (max-width: 1250px) {
    #projects .content div{
      h2 {
        height: fit-content;
      }
      p{
        display: none;
      }
      .read {
        visibility: visible;
      }
    }
    #resources{
      .content{
        width: 75%;
      }
    }
  }
  @media screen and (max-width: 980px) {
    nav {
      position: fixed;
      top: initial;
      bottom: 0;
    }
    #landing{
      .content{
        width: 95%;
      }
    }
    #about{
      .content{
        width: 95%;
      }
    }
    #projects{
      .content{
        width: 90%;
        div{
          img{
            width: 40%;
          }
          h1{
            width: 30%;
          }
          h2 {
            width: 30%;
          }
          .read {
            margin-top: 20px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 720px) {
    #projects{
      .content{
        width: 95%;
        height: 100%;
        justify-content: space-around;
        div{
          height: 30%;
          border: none;
          img{
            width: 60%;
            height: 70%;
            float: none;
          }
          h1{
            float: none;
            text-align: center;
            margin: 5px auto;
            width: 100%;
          }
          h2 {
            display: none;
          }
          .read{
            visibility: hidden;
          }
          .live{
            &:hover {
              
            }
          }
        }
      }
    }
    #resources{
      .content{
        width: 100%;
        .email, .cell{
          font-size: 14px;
          width: 47%;
        }
      }
    }
  }
  @media screen and (min-width: 1240px) {
    #projects{
      .content{
        div{
          .live{
            &:hover{
              
            }
          }
        }
        .load{
          &:hover{
            padding: 20px 40px;
            cursor: pointer;
          }
        }
      }
    }
  }