@mixin justifycenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin textcolor {
    color: $landcolor
}
$navcolor: #d5d0cd;
$landcolor: #50514f;
$projcolor: #c6ccb2;
$rescolor: #bcaf9c;
$aboutcolor: #fbfefb;
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    overflow: hidden;
}
nav {
  height: 5vh;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: $navcolor;
  @include justifycenter();
  @include textcolor();
  .nav {
      width: 100%;
    .links {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      position: relative;
      right: 10;
      li {
        a {
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 5px;
          transition: 0.3s;
          @include textcolor();
          &:visited{
              @include textcolor();
          }
          &:hover{
              background-color: $aboutcolor;
              padding: 15px 40px;
          }
        }
        .clicked {
            background-color: $aboutcolor;
            padding: 15px 40px;
        }
      }
    }
  }
}
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  @include justifycenter();
}

/*---------------------------------------------*/

#landing {
    background-color: $landcolor;
    color: $aboutcolor;
    height: 95vh;
    .content{
      @include justifycenter();
      flex-direction: column;
        width: 50%;
        height: 50%;
        .me {
            margin-bottom: 2rem;
            @include justifycenter();
            justify-content: space-evenly;
            font-size: 48px;
        } 
        .hero-welcome {
          font-size: 36px;
        }
        .icons{
            margin-top: 2rem;
            height: 10%;
            @include justifycenter();
            .contact-info{
              width: 50%;
                @include justifycenter();
                justify-content: space-evenly;
            }
        }
    }
  }



  #about {
    background-color: $aboutcolor;
    @include textcolor();
    height: 50vh;
    .content{
      @include justifycenter();
      width: 50%;
      height: 50%;
      .main-text{
        font-size: 24px;
      }
    }
  }



  #projects {
    background-color: $projcolor;
    @include textcolor();
    .content{
      width: 75%;
      height: 85%;
      @include justifycenter();
      flex-direction: column;
      justify-content: space-evenly;
      div {
        width: 100%;
        height: 25%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1%;
        img{
          float: left;
          height: 100%;
          width: 28%;
          border-radius: 10px;
          margin-right: 1.8%;
        }
        h1{
          float: left;
          text-align: left;
          font-size: 28px;
          width: 50%;
        }
        .live, .code{
          width: 9%;
          height: 20px;
          background-color: inherit;
          border: none;
          border-radius: 10px;
          transition: 0.3s;
          a{
            text-decoration: none;
            width: 100%;
            color: $aboutcolor;
            &:visited{
              color: $aboutcolor;
            }
          }
          &:hover{
            background-color: $landcolor;
            color: $aboutcolor;
          }
        }
        h2 {
          font-size: 20px;;
          float: left;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p{
          float: left;
          width: 70%;
          font-size: 18px;
          text-align: left;
        }
      }
    }
    .load {
      background-color: $landcolor;
      color: $aboutcolor;
      padding: 10px 0px;
      border-radius: 10px;
      border: none;
      a{
        text-decoration: none;
        padding: 10px 30px;
        transition: 0.3s;
      &:visited{
        color: $aboutcolor;
      }
      &:hover{
        padding: 20px 40px;
        cursor: pointer;
      }
      }
    }
  }



  #resources {
    background-color: $rescolor;
    height: 50vh;
    @include textcolor();
    .content {
      width: 50%;
      h1{
        font-size: 22px;
        margin-bottom: 20px;
      }
      .email{
        float: left;
        width: 49.8%;
        border-right: 1px solid $landcolor;
        text-align: center;
      }
      .cell{
        float: right;
        width: 50%;
      }
      .contact-info{
        width: 50%;
        @include justifycenter();
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 60px;
      }
    }
  }