@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: main;
}

@font-face {
  src: url(../fonts/OpenSans-Regular.ttf);
  font-family: title;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  font-family: main;
  overflow-x: hidden;
}

nav {
  height: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #000000;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

nav .nav {
  width: 100%;
}

nav .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
  right: 10;
}

nav .nav .links li a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

nav .nav .links li a:visited {
  color: white;
}

nav .nav .links li a:hover {
  background-color: white;
  color: #999999;
  padding: 15px 40px;
}

nav .nav .links li .clicked {
  background-color: #000000;
  padding: 15px 40px;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*---------------------------------------------*/
#landing {
  background-image: -webkit-gradient(linear, left top, right top, from(#6b6b6b), to(#010101));
  background-image: linear-gradient(to right, #6b6b6b, #010101);
  color: #000000;
  height: 60vh;
  font-family: title;
}

#landing .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

#landing .content .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#666666), to(#040404));
  background-image: linear-gradient(to right, #666666, #040404);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 2%;
  font-size: 48px;
  height: 100%;
  width: 60%;
}

#landing .content .me .hero-welcome {
  font-size: 36px;
  color: lightgray;
  text-shadow: 1px 1px 1px;
}

#landing .content .me .icons {
  margin-top: 2rem;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
}

#landing .content .me .icons .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#landing .content .me .icons .contact-info li {
  margin-right: 8%;
}

#landing .content .me_img {
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 40%;
}

#about {
  background-color: #000000;
  color: white;
  height: 40vh;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
}

#about .content .main-text {
  font-size: 24px;
}

#projects {
  background-color: #666666;
  color: black;
}

#projects .content {
  width: 75%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects .content div {
  background-color: #666666;
  width: 100%;
  height: 25%;
  border-radius: 10px;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .content div img {
  float: left;
  height: 100%;
  width: 28%;
  border-radius: 10px;
  margin-right: 1.8%;
}

#projects .content div h1 {
  float: left;
  text-align: left;
  font-size: 28px;
  width: 50%;
}

#projects .content div .live, #projects .content div .code {
  width: 9%;
  height: 20px;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#projects .content div .live a, #projects .content div .code a {
  text-decoration: none;
  width: 100%;
  color: #000000;
}

#projects .content div .live a:visited, #projects .content div .code a:visited {
  color: #000000;
}

#projects .content div .live:hover, #projects .content div .code:hover {
  background-color: #999999;
  color: #000000;
}

#projects .content div h2 {
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 70%;
}

#projects .content div p {
  float: left;
  width: 70%;
  font-size: 1rem;
  text-align: left;
}

#projects .content div p a {
  color: inherit;
}

#projects .content div p a:visited {
  color: inherit;
}

#projects .content div .read {
  visibility: hidden;
  background-color: #999999;
  color: #000000;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

#projects .content div .read a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .content div .read a:visited {
  color: #000000;
}

#projects .content div .read a:hover {
  padding: 20px 40px;
}

#projects .content div:hover {
  background-color: #707070;
  -webkit-filter: drop-shadow(2px 2px 10px black);
          filter: drop-shadow(2px 2px 10px black);
}

#projects .content .eclipse img {
  float: right;
  margin-right: 0;
  margin-left: 1.8%;
}

#projects .content .eclipse .proj-title {
  float: right;
  text-align: end;
}

#projects .content .eclipse .proj-description {
  text-align: justify;
}

#projects .content .eclipse .live, #projects .content .eclipse .code {
  float: left;
}

#projects .load {
  background-color: #999999;
  color: #000000;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: drop-shadow(1px 1px 5px);
          filter: drop-shadow(1px 1px 5px);
}

#projects .load a {
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
}

#projects .load a:visited {
  color: #000000;
}

#resources {
  background-color: #EEEEEE;
  height: 30vh;
  color: black;
}

#resources .content {
  width: 50%;
}

#resources .content h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

#resources .content .email {
  float: left;
  width: 49.8%;
  text-align: center;
}

#resources .content .cell {
  float: right;
  width: 50%;
  border-left: 1px solid #999999;
}

#resources .content .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

#resources .content .contact-info .tooltiptext {
  visibility: hidden;
}

@media screen and (max-width: 1250px) {
  #projects .content div h2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #projects .content div p {
    display: none;
  }
  #projects .content div .read {
    visibility: visible;
  }
  #resources .content {
    width: 75%;
  }
}

@media screen and (max-width: 980px) {
  nav {
    position: fixed;
    top: initial;
    bottom: 0;
  }
  #landing .content {
    width: 100%;
  }
  #about .content {
    width: 95%;
  }
  #projects .content {
    width: 90%;
  }
  #projects .content div img {
    width: 40%;
  }
  #projects .content div h1 {
    width: 30%;
  }
  #projects .content div h2 {
    width: 30%;
  }
  #projects .content div .read {
    margin-top: 20px;
  }
  #projects .content .eclipse img {
    float: left;
    margin-right: 1.8%;
    margin-left: 0;
  }
  #projects .content .eclipse .proj-title {
    float: left;
    text-align: start;
  }
  #projects .content .eclipse .live, #projects .content .eclipse .code {
    float: right;
  }
}

@media screen and (max-width: 720px) {
  #landing .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #landing .content .me {
    height: 30%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none #666666;
  }
  #landing .content .me h1 {
    font-size: 36px;
    padding-bottom: 5%;
    text-shadow: 1px 1px black;
  }
  #landing .content .me br {
    display: none;
  }
  #landing .content .me .hero-welcome {
    font-size: 28px;
    padding-bottom: 2%;
  }
  #landing .content .me .icons {
    display: none;
  }
  #landing .content .me_img {
    width: 100%;
  }
  #projects .content {
    width: 95%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #projects .content div {
    height: 30%;
    border: none;
    left: 0;
    right: 0;
  }
  #projects .content div img {
    width: 60%;
    height: 70%;
    float: none;
  }
  #projects .content div h1 {
    float: none;
    text-align: center;
    margin: 5px auto;
    width: 100%;
  }
  #projects .content div h2 {
    display: none;
  }
  #projects .content div .read {
    visibility: hidden;
  }
  #projects .content .eclipse img {
    float: none;
  }
  #projects .content .eclipse .proj-title {
    float: none;
    text-align: center;
  }
  #projects .content .eclipse .live, #projects .content .eclipse .code {
    float: none;
  }
  #resources .content {
    width: 100%;
  }
  #resources .content .email, #resources .content .cell {
    font-size: 14px;
    width: 47%;
  }
}

@media screen and (min-width: 1240px) {
  #projects .content .load:hover {
    padding: 20px 40px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */