@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: main;
}

@font-face {
  src: url(../fonts/OpenSans-Regular.ttf);
  font-family: title;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  font-family: main;
}

nav {
  height: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #d5d0cd;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #50514f;
}

nav .nav {
  width: 100%;
}

nav .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
  right: 10;
}

nav .nav .links li a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #50514f;
}

nav .nav .links li a:visited {
  color: #50514f;
}

nav .nav .links li a:hover {
  background-color: #fbfefb;
  padding: 15px 40px;
}

nav .nav .links li .clicked {
  background-color: #fbfefb;
  padding: 15px 40px;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*---------------------------------------------*/
#landing {
  background-color: #50514f;
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fbfefb;
  height: 60vh;
  font-family: title;
}

#landing .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50%;
}

#landing .content .me {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 48px;
}

#landing .content .hero-welcome {
  font-size: 36px;
}

#landing .content .icons {
  margin-top: 2rem;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

#landing .content .icons .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about {
  background-color: #fbfefb;
  color: #50514f;
  height: 40vh;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
}

#about .content .main-text {
  font-size: 24px;
}

#projects {
  background-color: #c6ccb2;
  color: #50514f;
}

#projects .content {
  width: 75%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects .content div {
  width: 100%;
  height: 25%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
}

#projects .content div img {
  float: left;
  height: 100%;
  width: 28%;
  border-radius: 10px;
  margin-right: 1.8%;
}

#projects .content div h1 {
  float: left;
  text-align: left;
  font-size: 28px;
  width: 50%;
}

#projects .content div .live, #projects .content div .code {
  width: 9%;
  height: 20px;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .content div .live a, #projects .content div .code a {
  text-decoration: none;
  width: 100%;
  color: #fbfefb;
}

#projects .content div .live a:visited, #projects .content div .code a:visited {
  color: #fbfefb;
}

#projects .content div .live:hover, #projects .content div .code:hover {
  background-color: #50514f;
  color: #fbfefb;
}

#projects .content div h2 {
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 70%;
}

#projects .content div p {
  float: left;
  width: 70%;
  font-size: 1rem;
  text-align: left;
}

#projects .content div .read {
  visibility: hidden;
  background-color: #50514f;
  color: #fbfefb;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

#projects .content div .read a {
  color: #fbfefb;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .content div .read a:visited {
  color: #fbfefb;
}

#projects .content div .read a:hover {
  padding: 20px 40px;
}

#projects .load {
  background-color: #50514f;
  color: #fbfefb;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
}

#projects .load a {
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .load a:visited {
  color: #fbfefb;
}

#resources {
  background-color: #bcaf9c;
  height: 50vh;
  color: #50514f;
}

#resources .content {
  width: 50%;
}

#resources .content h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

#resources .content .email {
  float: left;
  width: 49.8%;
  text-align: center;
}

#resources .content .cell {
  float: right;
  width: 50%;
  border-left: 1px solid #50514f;
}

#resources .content .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

#resources .content .contact-info .tooltiptext {
  visibility: hidden;
}

@media screen and (max-width: 1250px) {
  #projects .content div h2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #projects .content div p {
    display: none;
  }
  #projects .content div .read {
    visibility: visible;
  }
  #resources .content {
    width: 75%;
  }
}

@media screen and (max-width: 980px) {
  #landing .content {
    width: 95%;
  }
  #about .content {
    width: 95%;
  }
  #projects .content {
    width: 90%;
  }
  #projects .content div img {
    width: 40%;
  }
  #projects .content div h1 {
    width: 30%;
  }
  #projects .content div h2 {
    width: 30%;
  }
  #projects .content div .read {
    margin-top: 20px;
  }
}

@media screen and (max-width: 720px) {
  #projects .content {
    width: 95%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #projects .content div {
    height: 30%;
    border: none;
  }
  #projects .content div img {
    width: 60%;
    height: 70%;
    float: none;
  }
  #projects .content div h1 {
    float: none;
    text-align: center;
    margin: 5px auto;
    width: 100%;
  }
  #projects .content div h2 {
    display: none;
  }
  #projects .content div .read {
    visibility: hidden;
  }
  #resources .content {
    width: 100%;
  }
  #resources .content .email, #resources .content .cell {
    font-size: 14px;
    width: 47%;
  }
}

@media screen and (min-width: 1240px) {
  #projects .content .load:hover {
    padding: 20px 40px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */